:root {
  --bs-body-bg: #eaf7ff;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: block;
  min-width: 320px;
  min-height: 100vh;
  background: #eaf7ff;
}

#root {
  width: 100%;
  min-height: 100vh;
}